.addbook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;

  /* max-width: 85%; */

  /* margin: 0 250px; */

  /* padding: 0 20px; */
  border-top: 4px solid rgba(128, 128, 128, 0.511);
}

.addbook-title {
  font-size: 2rem;
  font-weight: 700;
  color: #1e1e1e;
  margin: 20px 0;
}

.addbook-form {
  display: flex;
  width: 100%;
  align-items: center;
}

.addbook-form-item {
  margin: 10px 10px;
}

input,
.categorry {
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 500px;
  margin-right: 10px;
}
